
body{
	font-family: OpenSansRegular;
	font-size: 16px;
}
a{
	color:#fff;
	&:hover{
		color:#fff;
	}
}
a:focus{
	outline: none;
	color:#fff;
}

section{
	padding-top:20px;
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 1px solid #efefef;
}
.row {
    &:before {
        content: none;
    }

    &:after {
        content: '';
    }
} 


.main {
	position: relative;	
	height:500px;
	background-image: url(../img/img_12.jpg);
	background-size: cover;	
	background-position:center;	
	nav{
		position: relative;
		z-index:10;
	}
	
}
.navbar-inverse .navbar-brand{
	color:#fff;
}
ul.navbar-nav:first-child{
	margin-left: 80px;
}
.navbar-inverse .navbar-nav > li {
	font-size:18px;
	font-family: FiraSans;
	padding: 15px 39px;
	& span{
	border-bottom:1px solid transparent;
	transition: color .2s ease-out, border-bottom-color .5s ease-out;
	&:hover{
		border-bottom:1px solid #fff;
	}
}
	&:focus{
		color:#fff;
	}
}
.navbar-inverse .navbar-brand {
	font-family:FiraSansBold;
	margin-top:15px;
}
.navbar-right{
	margin-top:20px;
}
.navbar-right > li>a{
	font-size:15px !important;
	padding:0!important; 
	color:#fff!important;
}
.navbar-right > li{
	padding:1px 0px !important;
}
.navbar-inverse .navbar-toggle{
	border-color: transparent;
	&:focus{
		background-color: transparent;
		border-color: transparent;
	}
}
.top_header{
	margin-top:30px;
}
.header_h1{
	color:#fff;
	text-align: right;
	h1{
		text-transform: none;
		font-size: 35px;
		line-height:2;
	}
	p{
		font-size: 18px;
		line-height: 1.6;
		font-family: FiraSans;
	}
}
form h4{
	width:80%;
	margin: 15px auto 20px;
	font-size:15px;
	text-align: center;
}
.form-control{
	border-radius:0;
	&:focus{
		border-color:#66afe9;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	}
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.top_img {
	position: relative;
	& img{
	object-fit: cover;
	max-height: 480px;
	width:100%;
	}
	& h1{
		position: absolute;
		top:30%;
		width:100%;
		text-align: center;
		color:#fff;
		line-height:3;
	}
}
.about_us{
	p{
		text-align: justify;
	}
	h3{
		margin:30px 0 20px;
	}
	img{
		margin:30px auto;

	}
}
.service{
	h2{
	text-align: center;
	text-transform: none;
	margin-bottom: 40px;
	}
	& h3{
		margin:20px 0 20px;
	}
}
.dark{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity: 0;
	transition: background-color 1s ease ;

}
.service .service_item {
	margin-bottom: 30px;
	height:200px;
}
.service .service_item a{	
		position: relative;
		display: table-cell;				
		text-align: center;	
		vertical-align: middle;
		width:350px;
		height:200px;
		color:#fff;	
		& span{
			position: relative;
			border-bottom:1px solid transparent;
			font-size:23px;
			transition: color .2s ease-out, border-bottom-color .5s ease-out;
			&:hover{
				border-bottom:1px solid #fff;
			}
		}
}	
.service_item a:hover .dark{
		opacity:1;
		background-color:rgba(0,0,0,.5);
}
.service_item .item_1{
		background-image: linear-gradient(to bottom rgba(0,0,0,.3),rgba(0,0,0,.3)100%),url(../img/img_8.jpg);
		background-size:cover;
}
.service_item .item_2{
	background-image:linear-gradient(to bottom rgba(0,0,0,.3),rgba(0,0,0,.3)100%), url(../img/img_5.jpg);
		background-size:cover;
}
.service_item .item_3{
	background-image:linear-gradient(to bottom rgba(0,0,0,.3),rgba(0,0,0,.3)100%), url(../img/img_4.jpg);
		background-size:cover;
}
.service_item .item_4{
	background-image: linear-gradient(to bottom rgba(0,0,0,.3),rgba(0,0,0,.3)100%),url(../img/img_6.jpg);
		background-size:cover;
		background-position: center;
}
.service_item .item_5{
	background-image:linear-gradient(to bottom rgba(0,0,0,.3),rgba(0,0,0,.3)100%), url(../img/img_15.jpg);
		background-size:cover;
		background-position:center;
}		
.service_item .item_6{
	background-image: linear-gradient(to bottom rgba(0,0,0,.3),rgba(0,0,0,.3)100%),url(../img/img_7.jpg);
		background-size:cover;
}
.service_item .item_7{
	background-image: linear-gradient(to bottom rgba(0,0,0,.3),rgba(0,0,0,.3)100%),url(../img/img_14.jpg);
		background-size:cover;
		background-position: center;
}
.service_item .item_8{
	background-image: linear-gradient(to bottom rgba(0,0,0,.3),rgba(0,0,0,.3)100%),url(../img/img_11.jpg);
		background-size:cover;
}
.service_item .item_9{
	background-image: linear-gradient(to bottom rgba(0,0,0,.3),rgba(0,0,0,.3)100%),url(../img/img_13.jpg);
		background-size:cover;
		background-position: center;
}

.table table{
	border-collapse: separate;
	border-spacing: 5px;
	margin:auto;
	width:800px;
	tr,td{
		border:1px solid #efefef;
		text-align: left;
	}
	&
	td{
		padding:10px 20px;
		background-color:#f9f9f9;
	}
}
.request {
	.request_btn{
		border-radius:0;
		background-color: #05a283;
		border-color: #05a283;
		text-transform: uppercase;
		font-family: OpenSansBold;
		padding:15px 50px;
		margin: 50px 0;
		font-size:17px;
		transition: all .5s ease;
		&:hover{
			background-color:#66afe9;
			border-color:#66afe9;
		}

	}
}
.questions{
	text-align: center;
	.contacts{
		text-align: left;
		margin-top: 50px;
		p{
			font-size: 18px;
		}
	i{
		font-size:25px;
		margin-right: 5px;
	}
	span{
		display: inline-block;	
		font-size:18px;
		line-height:1.5;
	}
    }
}
.questions .contacts {
	span:nth-child(2){
		color:#ff9900;
	}
	span:nth-child(4){
		color:#ff9900;
	}
}
.footer{
	position: relative;
	text-align: center;
	background-color: #2d2d2d;
	padding:20px 0;
	& .btn-primary{
		display: inline-block;
		background:#07a285;
		border:none;
		border-radius: 0;
		padding:5px 30px;
	}
	.footer_phone{
		display: inline-block;
		position: absolute;
		left:0;
		top:15px;
		margin-left:20px;
		color:#fff;
		font-size:14px;
	}
}
footer .btn-primary:hover {
	outline: none;
	border-color:#66afe9;
	background:#66afe9;
}
.service{
	padding-bottom:50px;
	border-bottom:1px solid #efefef;
}
form{
	max-width: 350px;
	margin: auto;
	& .btn-primary{
		background:#05a283;
		border-color:#05a283;
		border-radius: 0;
		display: block;
		margin:0 auto;
		font-family:OpenSansBold;
		transition: all .5s ease;
		&:hover{
			background-color:#66afe9;
			border-color:#66afe9;
		}
	}
	& .btn-primary:focus{
		outline:none;
		border-color:#66afe9;
	}
}
 .service .btn.btn-primary.btn-lg{
 	text-transform: uppercase;
 	font-family:OpenSansBold;
 	color:#fff;
	margin-top: 60px;
	border:1px solid #337ab7;
	border-radius:0;
	font-size: 17px;
	padding:10px 25px;
	background-color:#05a283;
	border-color:#05a283;
	&:hover{
		background-color:#66afe9;
		border-color:#66afe9;
	}

}
.about_service ul{
	margin:auto;
	& li {
		text-align: left;
		font-size:19px;
		line-height: 2;
	}
}
.service{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
}


