@font-face {
	font-family:'OpenSansRegular';
	src:url(../fonts/OpenSansRegular/OpenSansRegular.ttf);
}
@font-face {
	font-family:'OpenSansBold';
	src:url(../fonts/OpenSansBold/OpenSansBold.ttf);
}
@font-face {
	font-family:'FiraSans';
	src:url(../fonts/FiraSans/FiraSans/FiraSans.ttf);
}
@font-face {
	font-family:'FiraSansBold';
	src:url(../fonts/FiraSans/FiraSansBold/FiraSansBold.ttf);
}

