@font-face {
	font-family:'OpenSansRegular';
	src:url(../fonts/OpenSansRegular/OpenSansRegular.ttf);
}
@font-face {
	font-family:'OpenSansBold';
	src:url(../fonts/OpenSansBold/OpenSansBold.ttf);
}
@font-face {
	font-family:'UbuntuMedium';
	src:url(../fonts/UbuntuBold/UbuntuMedium.ttf);
}
@font-face {
	font-family:'RussoOne';
	src:url(../fonts/RussoOne/RussoOne.ttf);
}

