/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
.navbar-inverse .navbar-nav>li{
	padding:15px 20px;
	font-size: 16px;
}	
.service .service_item a span{
	font-size:23px;
}
ul.navbar-nav:first-child{
	margin-left:60px;
}
}




/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
.navbar-inverse .navbar-nav>li{
	padding:15px 12px;
	font-size: 14px;
}	
.navbar-right>li span{
	font-size:13px !important;
}
.navbar-brand {
	font-size:14px;
	padding-right:0;
}
.header_h1 h1{
	font-size:22px;
}
.header_h1 p {
	font-size: 15px;
}
.header_form{
	padding:10px 20px;
}
.header_form h4{
	font-size:12px;
	margin:10px auto;
}
.form-group{
	margin-bottom:10px ;
}
.form-control{
	height:30px;
}
.header_form .btn-primary{
	font-size: 12px;
}
.service .service_item a span{
	font-size:23px;
}
ul.navbar-nav:first-child{
	margin-left:30px;
}
.service .service_item{
	height:150px;
}
.service .service_item a{
	 height: 150px;
}
.service .service_item a  span{
	font-size:16px;
}

.table table{
	width:600px;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	ul.navbar-nav{
		font-size: 15px;
		text-align: center;
	}
	ul.navbar-nav:first-child{
		margin:0;
	}
.main{
	height:600px;
}
.header_h1{
	text-align: center;
}	
.item{
	min-height: 350px;
}
.service .service_item {
	height: 100px;
}
.service .service_item a{
	width:150px;

	height: 100px;
}
.service .service_item a span{
	font-size: 12px;
}
.table table{
	width:500px;
}
.questions .contacts span{
	margin:20px 0;
}
}

@media only screen and (max-width : 575px) {
	ul.navbar-nav{
		font-size: 15px;
	}
.main{
	height:700px
}
.item{
	min-height: 350px;
}
.service .service_item a{
	width:570px;
	height:180px;
}
.service .service_item{
	height:180px;
}
.service .service_item a span{
	font-size: 18px;
}
.table table{
	width:400px;
}
.footer{
	display: flex;
	flex-wrap:wrap;
	flex-direction: column;
}
.footer .footer_phone{
	position: relative;
	margin:0 0 50px;
	justify-content: center;
}
.footer .btn-primary{
	-ms-align-self: center;
	align-self: center;
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.item{
	min-height: 550px;
}

.service .service_item a{
	width:470px;
	height:150px;
}
.table table{
	width:300px;
}
}





/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
.service .service_item a{
	width:320px;
	height:150px;
}
.service .service_item a span{
	width:320px;
	height:150px;
}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}